.main__benefits {
    padding-bottom: 143px;
}

.benefits__title {
    font-weight: 500;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    max-width: 980px;
    margin: 0 auto 80px auto;
}

.benefits__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 22px;
}


.benefits__item {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1b1b1c;
    border-radius: 5px;
    padding: 44px 33px 70px 38px;
    gap: 32px;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
    cursor: pointer;

}


.benefits__item:hover {
    background: #2a2a2b;
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


.benefits__item-icon img {
    width: 60px;
    height: 60px;
}

.benefits__item-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 125%;
    color: #fff;
}

.benefits__item-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 157%;
    color: #ccc;
}

.benefits__item-details {
    position: absolute;
    right: 46px;
    bottom: 34px;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s, color 0.3s;
}

.benefits__item-details::after {
    content: '→';
    margin-left: 8px;
    transition: transform 0.3s;
}

.benefits__item:hover .benefits__item-details::after {
    transform: translateX(5px);
}