.main__bonus {
    padding-bottom: 235px;
    position: relative;
}

.bonus__bonus {
    position: absolute;
    top: -110px;
    right: -60px;
}
.bonus__bonus img{
    width: 100%;
}
.bonus__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus__title {
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    max-width: 642px;
    margin-bottom: 33px;
    position: relative;
}

.bonus__title span {
    line-height: 117%;
}

.bonus__text {
    font-size: 25px;
    line-height: 158%;
    text-align: center;
    margin-bottom: 68px;
    max-width: 640px;
}

.bonus__buttons {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.bonus__button {
    max-width: 376px;
    height: 106px;
    font-size: 22px;
}

.bonus__button-demo {
    max-width: 376px;
    height: 106px;
    font-size: 22px;
}

.bonus__cirlce {
    position: absolute;
    border-radius: 50%;
    right: -194px;
    top: 0px;
    max-width: 393px;
    width: 100%;
    max-height: 393px;
    height: 100%;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    border-radius: 100%;
    filter: blur(220px);
    z-index: -1;
}
.bonus__circle-two {
    right: auto;
    left: -194px;
}
.bonus__santa-vr img{
    width: 100%;
}
.bonus__santa-vr {
    position: absolute;
    right: -1211px;
    top: -147px;
    transform: rotate(11deg);
    
}
.bonus__santa-vr-two {
    right: auto;
    left: -1001px;
    top: -277px;
    transform: rotate(-7deg);
}
.bonus__present {
    position: absolute;
    top: -300px;
    right: -40px;
}
.bonus__present img{
    width: 100%;
}
.bonus__present-two {
    position: absolute;
    top: -90px;
    right: 110px;
}
.bonus__present-two img{
    width: 100%;
}