.main__investmob {
    padding-bottom: 281px;
}

.investmob__inner {
    display: flex;
    margin-bottom: 40px;
}

.investmob__text-block {
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    max-width: 559px;
    width: 100%;

}

.investmob__title {
    font-weight: 700;
    font-size: 70px;
    color: #fff;
    margin-bottom: 25px;

    position: relative;
}

.investmob__phone {
    position: absolute;
    right: 50%;
    bottom: 5%;
}

.investmob__text {
    font-size: 25px;
    line-height: 158%;
    color: #fafafa;
}

.investmob__img {
    position: relative;
    max-width: 1052px;
    height: 689px;
    width: 100%;
}

.investmob__img img {
    position: absolute;
    right: -60px;
    width: 100%;
}

.investmob__circle {
    position: absolute;
    border-radius: 50%;
    right: 220px;
    top: 20%;
    max-width: 273px;
    width: 100%;
    max-height: 273px;
    height: 100%;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    border-radius: 100%;
    filter: blur(220px);
    z-index: -1;
}

.investmob__img-bottom img {
    width: 100%;
    height: 100%;
}

.investmob__bottom {
    background: black;
    margin-bottom: 347px;
}

.investmob__list {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    border: solid 10px black;
}

.investmob__item {
    background: #0D0D0D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    max-width: 327px;
    width: 100%;
    height: 203px;
}


.investmob__bottom-block {
    margin-left: auto;
    max-width: 500px;

}

.investmob__item-title {
    font-weight: 700;
    font-size: 22px;
}

.investmob__item-text {
    font-size: 16px;
    color: #ADADAD;
    max-width: 234px;
}

.investmob__text {
    margin-bottom: 52px;
}

.investmob__circle-two {
    position: absolute;
    right: auto;
    top: auto;
    left: 0;
    bottom: 8%;
}

.investmob__botton-block {
    display: flex;
    gap: 20px;
}

.investmob__button {
    font-size: 16px;
    line-height: 126%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 35px;
    max-width: 245px;
    width: 100%;
    height: 70px;
    transition: .6s;
    padding: 0 15px;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.investmob__button:hover {
    transition: .6s;
    background: #000;
}

.investmob__button img {
    margin-right: 10px;
}