.main__portfolio {}

.container {}

.portfolio__content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 162px;
}

.portfolio__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    margin-bottom: 100px;
}

.portfolio__title span {
    font-weight: 700;
}

.title__text {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    max-width: 854px;
}

.titile__subtitle {
    font-size: 25px;
    line-height: 158%;
    max-width: 653px;
    text-align: center;
}

.portfolio__company {
    margin-bottom: 109px;
    position: relative;
}

.portfolio__list {
    display: grid;
    grid-template: 57px 1fr / repeat(6, 1fr);

}

.portfolio__item {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.portfolio__item:nth-child(even) {
    grid-row: 1 / 3;
    align-self: start;
}

.portfolio__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 144px;
    width: 100%;
    height: 144px;
    border-radius: 24px;
    background: #fff;
    overflow: hidden;
    padding: 0 5px;
}

.portfolio__item-img img {
    max-width: 100%;
    /* height: auto; */
}

.portfolio__item-percent {
    font-size: 30px;
    line-height: 130%;
    color: #4bd879;
}

.portfolio__item-money-wrapper {
    border-radius: 18px;
    max-width: 124px;
    height: 36px;
    background: #262626;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__item-money {
    font-size: 20px;
    line-height: 130%;

}

.portfolio__black-side {
    display: none;
    position: absolute;
    top: -20px;
    left: -10px;
    width: 50px;
    height: 194px;
    background: linear-gradient(90deg, #0e0e12 0%, rgba(0, 0, 0, 0) 90%);
    z-index: 2;
    filter: blur(15px);
}
.portfolio__black-side-two {
    display: none;
    position: absolute;
    top: -20px;
    right:-10px;
    width: 60px;
    height: 194px;
    background: linear-gradient(90deg, #0e0e12 0%, rgba(0, 0, 0, 0) 90%);
    filter: blur(15px);
    transform: rotate(180deg);
    z-index: 2;
}
.get__portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.get__portfolio-text {
    font-size: 25px;
    line-height: 158%;
    text-align: center;
}

.get__portfolio-text span {
    font-weight: 700;
}

.get__portfolio-button {
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    border-radius: 20px;
    max-width: 376px;
    height: 106px;
}

.swiper {
    display: none !important;
}