.main__portfel {
    padding-top: 95px;
    padding-bottom: 245px;
}

.portfel__inner {
    display: flex;
    justify-content: space-around;
    gap: 189px;
    padding-bottom: 213px;
}

.portfel__left-content {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 690px;
    width: 100%;
    align-items: center;
    margin-left: 30px;
    margin-bottom: -95px;
}

.portfel__profit-arc {
    position: absolute;
    z-index: 1;
    width: 691px;
    margin: 0 auto;
    top: -1px;
    left: 0;
}

.portfel__arc-side path {
    transition: stroke-dashoffset 0.15s linear;
}

.portfel__profit-arc>img {
    width: 100%;
}



.portfel__arc-poloska img {
    width: 100%;
}

.portfel__arc-side {
    position: absolute;
    z-index: 3;
}

.portfel__arc-poloska {
    left: -3px;
    top: 65px;
}

.portfel__arc-blur {
    position: absolute;
    filter: blur(15px);
    z-index: 2;
}

.portfel__low-risk {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.portfel__profit {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 157%;
}

.portfel__profit-percent {
    font-weight: 500;
    font-size: 65px;
    line-height: 117%;
    margin-bottom: 25px;
}

.portfel__profit-riskwrapper {
    margin-bottom: 55px;
    background: linear-gradient(120deg, rgba(66, 89, 74, 0.4) 0%, rgba(101, 204, 125, 0.22) 100%);
    border-radius: 35px;
    width: 172px;
    height: 32px;
    text-align: center;
    padding-top: 8px;
}

.portfel__profit-risk {}


.portfel__load {}


.portfel__load::before {}

.portfel__load-circle {}

.portfel__load-circle:hover {}

/* дуга подсвечивается */
.portfel__arc-side,
.portfel__arc-blur {
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
    transform: rotate(0deg) scale(1.05);
    z-index: 3;
    transition: clip-path 0.25s ease-in-out;
}

.portfel__arc-side svg,
.portfel__arc-blur svg {
    transition: clip-path 0.25s ease-in-out;
    -webkit-transition: -webkit-clip-path 0.25s ease-in-out;
    clip-path: inset(0 calc(100% - var(--arc-progress, 50%)) 0 0);
    -webkit-clip-path: inset(0 calc(100% - var(--arc-progress, 0%)) 0 0);
    display: block;
    width: 100%;
    height: auto;
}


.portfel__switch {
    font-size: 25px;
    line-height: 157%;
    cursor: pointer;
}

.portfel__switch-punkt {
    display: flex;
    align-items: center;
    gap: 32px;
    transition: transform 0.2s, opacity 0.2s;
}

.portfel__switch-punkt:first-child {
    margin-bottom: 22px;
}

.portfel__switch-text {
    transition: color 0.3s;
}


.portfel__switch {
    font-size: 25px;
    line-height: 157%;
}

.portfel__switch-punkt {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

.portfel__switch-circle {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 2px solid #41594A;
    transition: all 0.3s;
    background: none;
}

.portfel__switch-punkt circle {
    transition: all 0.3s ease;
}


.portfel__switch-punkt.active .portfel__switch-circle {
    border-width: 12px;
    border-color: #66CC7D;
}

.portfel__switch-text {
    transition: color 0.3s;
}

.portfel__switch-punkt.active .portfel__switch-text {
    color: #66CC7D;
}

.portfel__switch-punkt:not(.active) .portfel__switch-text {
    color: #41594A;
}


.portfel__right-content {
    display: flex;
    flex-direction: column;
    max-width: 590px;
    width: 100%;
}

.portfel__right-title {
    font-weight: 500;
    font-size: 65px;
    line-height: 117%;
    margin-bottom: 18px;
}

.portfel__right-text {
    font-size: 25px;
    line-height: 158%;
    margin-bottom: 50px;
}

.portfel__right-button {
    max-width: 378px;
    height: 106px;
    font-size: 22px;
    line-height: 159%;
}


.portfel__info {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    justify-content: space-between;
}

.portfel__punktik {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfel__punktik p {
    font-weight: 500;
    font-size: 26px;
    line-height: 125%;
    color: #e7e7e7;
    text-align: center;
}

.portfel__count {
    justify-self: start;
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    background: linear-gradient(148deg, #65ca7c 0%, #4f815c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.portfel__arc-green {
    transition: stroke-dashoffset 0.5s ease;
}

.portfel__profit-arc {
    width: 100%;
    max-width: 691px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    /* отступ от нижних элементов */
}



.portfel__range {
    -webkit-appearance: none;
    appearance: none;
    width: 419px;
    height: 10px;
    background: #303030;
    border-radius: 20px;
    outline: none;
    margin-top: 45px;
    /* отступ чтобы не было прижато */
}

/* Круглый ползунок */
.portfel__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #6adb83;
    box-shadow: 0 0 15px #6adb83;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.portfel__range::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px #79e693;
}