.main__request {
    padding-bottom: 138px;
}

.request__title {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    margin-bottom: 75px;
}

.request__list {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 132px;
}

.request__item {
    display: flex;
    flex-direction: column;
    max-width: 331px;
    width: 100%;
    justify-content: center;
}

.request__list-line {
    position: absolute;
    height: 1px;
    left: 190px;
    right: 68%;
    top: 70px;
}

.request__list-line-two {
    left: 52%;
    right: 380px;
}

.request__list-line img {
    position: absolute;
    top: -5px;
    left: 0;
}

.request__list-line img:first-child {
    right: 0;
    left: auto;
}

.request__line-dashed {
    max-width: 318px;
    width: 100%;
    height: 1px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFFFFF8C' stroke-width='1' stroke-dasharray='6%2c 10' stroke-dashoffset='20' stroke-linecap='square'/%3e%3c/svg%3e");
    position: relative;
    right: 0;
    left: 0;
}

.request__item-img {
    position: relative;
    border-radius: 24px;
    max-width: 135px;
    height: 135px;
    background: linear-gradient(137deg, #16373a 0%, #0a1f24 29.28%, #0b1b23 49.12%, #122b31 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.request__item-img-two {
    background: linear-gradient(322deg, #82c36d 0%, #25523e 100%);
}

.request__item-img-three {
    background: linear-gradient(135deg, #76b467 0%, #295740 100%);
}

.request__img-number {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    right: -14px;
    top: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 159%;
    color: #000;
    background: white;
}

.request__item-title {
    font-size: 35px;
    line-height: 130%;
    margin-bottom: 23px;
}

.request__item-text {
    font-size: 22px;
    line-height: 159%;
}

.request__form {
    position: relative;
    display: flex;
    gap: 20px;
}

.request__label {
    position: relative;
    overflow: hidden;
}

.request__label span {
    position: absolute;
    opacity: 0;
    transform: translateY(-50%);
    top: 0px;
    left: 20px;
    transition: .5s;
    visibility: visible;
    font-size: 16px;

}

.request__input-name {
    border: 4px solid rgba(255, 255, 255, 0.29);
    border-radius: 20px;
    max-width: 383px;
    width: 100%;
    height: 106px;
    background: #202020;
    font-size: 22px;
    line-height: 159%;
    color: #fff;
    padding: 39px;
    

}

.request__input-name:focus+span {
    transition: .5s;
    opacity: 1;
    visibility: visible;
    transform: translateY(70%);


}

.request__input-name::placeholder {
    font-size: 22px;
    line-height: 159%;
    color: #fff;
}

.request__button {
    max-width: 376px;
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    color: #000;

}