@import "fonts.css";
@import "reset.css";
@import "header.css";
@import "portfolio.css";
@import "instruments.css";
@import "guide.css";
@import "bonus.css";
@import "benefits.css";
@import "portfel.css";
@import "investmob.css";
@import "ask.css";
@import "highlights.css";
@import "footer.css";
@import "style.css";
@import "request.css";




body {
    background: #0e0e12;
    font-family: "Gotham Pro", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    max-width: 1635px;
    position: relative;
}

.main {
    flex-grow: 1;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    border-radius: 20px;
    background: #1e1e1f;
    border: 1px solid #f17202;
    color: #fff;
    width: 100%;
    transition: .5s;
}

.button:hover {
    transition: .5s;
    background: #c4c0c0;
    border: 1px solid rgb(27, 27, 27);
    color: #0e0e12;
    box-shadow: 5px 5px 30px 15px rgb(77, 78, 78) inset;

}

.property-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
    font-weight: 700;
    color: #000;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.property-button:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 0 25px rgba(255, 190, 130, 0.8),
        0 0 40px rgba(228, 134, 79, 0.6);
}

.property-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.2) 100%);
    transform: skewX(-25deg);
    transition: all 0.7s ease;
}

.property-button:hover::before {
    left: 120%;
}

.property-button span {
    position: relative;
    z-index: 1;
}



.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    height: 200px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 60px;
    margin-bottom: 15px;
}

.portfolio__item-percent {
    display: inline-block;
    animation: wiggle 1.5s ease-in-out infinite;
}

@keyframes wiggle {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }

    75% {
        transform: translateY(-1px);
    }
}

@media (max-width: 1880px) {
    .guide__list {
        column-gap: 0px;

    }
}

@media(max-width: 1740px) {
    .bonus__present-two {
        right: -20px;
    }
}

@media(max-width: 1580px) {
    .header__circle-two {
        left: -350px;
    }

    .header__raffle {
        margin-bottom: 35px;
    }

    .header__title {
        font-size: 54px;
    }

    .header__benefits {
        font-size: 24px;
    }

    .header__top-button {
        height: 88px;
    }

    .header__button-acc {
        height: 88px;
    }

    .header__top-inner {
        margin-bottom: 44px;
    }

    .header__nav-list {
        margin-right: auto;
    }

    .header__nav-list {
        gap: 60px;
        margin-left: 40px;
    }

    .header__circle {
        max-width: 354px;
        max-height: 368px;
        filter: blur(210px);
    }

    .header__woodhand {
        max-width: 900px;
        max-height: 858px;
        right: -280px;
        bottom: -200px;
    }

    .guide__list {
        grid-row-gap: 100px;
    }

    .guide__list>:first-child {
        grid-column: 2 / 3;
    }

    .guide__list>:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
        flex-shrink: 0;
    }

    .guide__list>:nth-child(3) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        justify-self: end;
        width: 507px;
        height: 389px;
    }

    .bonus__santa-vr {
        right: -971px;
        top: -147px;
        max-width: 1300px;
    }

    .bonus__santa-vr-two {
        right: auto;
        left: -791px;
        top: -187px;
    }

    .bonus__present {
        top: -300px;
        right: -40px;
        max-width: 340px;
    }

    .bonus__present-two {
        top: -80px;
        right: -10px;
        max-width: 330px;
    }

    .request__form {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width:1440px) {
    .header {
        padding-top: 20px;
    }

    .header__open-acc {
        padding: 10px;
        font-size: 16px;
        color: #000;
        height: 61px;
    }

    .header__login-button {
        /* flex-shrink: 1; */
        font-size: 15px;
        height: 55px;
    }

    .header__raffle {
        margin-bottom: 30px;
    }

    .header__title {
        font-size: 48px;
    }

    .header__benefits {
        font-size: 16px;
    }

    .benefits__list {
        display: grid;
        grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
        gap: 22px;
    }

    .header__top-inner {
        margin-bottom: 35px;
    }

    .header__nav-list {
        margin-right: auto;
    }


    .header__circle {
        max-width: 354px;
        max-height: 368px;
        filter: blur(210px);
    }

    .header__woodhand {
        max-width: 760px;
        max-height: 698px;
        right: -220px;
        bottom: -105px;
    }

    .header__circle {
        max-width: 324px;
        max-height: 328px;
    }

    .instruments__content {
        padding: 75px 50px;
    }

    .instruments__content-list {
        row-gap: 70px;
    }

    .instruments__support {
        bottom: 45%;
    }

    .advantages__list {
        display: grid;
        grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
        gap: 22px;
    }

    .portfel__right-title {
        font-size: 54px;
    }

    .portfel__right-text {
        font-size: 21px;
    }

    .main__portfel {
        padding-top: 0;
        padding-bottom: 100px;
    }

    .portfel__profit-arc {
        top: 20px;
    }

    .portfel__left-content {
        margin-left: 130px;
    }

    .portfel__info {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        justify-content: space-between;
    }

    .portfel__punktik:first-child {
        grid-area: 1 / 1 / 2 / 3;
        justify-self: start;
    }

    .portfel__punktik:nth-child(2) {
        grid-area: 1 / 2 / 2 / -1;
        justify-self: end;
    }

    .portfel__punktik:last-child {
        grid-area: 2 / 1 / 3 / -1;
    }

    .investmob__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 35px;
    }

    .investmob__img img {
        right: 0px;
        position: relative;

    }

    .investmob__img {
        height: auto;
    }

    .investmob__text-block {
        margin-top: 0px;
    }
}

@media(max-width: 1350px) {
    .header__nav-list {
        gap: 25px;
    }

    .header__login-button {
        display: flex;
        padding: 0 0;
        max-width: 95px;
        text-align: center;
    }

    .header__open-acc {
        max-width: 234px;
    }

    .header__top-button {
        max-width: 348px;
    }

    .header__button-acc {
        max-width: 347px;

    }

    .bonus__cirlce {
        max-width: 333px;
        max-height: 333px;
    }

    .bonus__santa-vr {
        right: -744px;
        top: -107px;
        max-width: 1000px;
    }

    .bonus__santa-vr-two {
        right: auto;
        left: -615px;
        top: -107px;
        max-width: 1000px;
    }

    .bonus__present {
        top: -300px;
        right: -30px;
        max-width: 220px;
    }

    .bonus__present-two {
        top: -100px;
        right: -20px;
        max-width: 260px;
    }

    .bonus__button {
        max-width: 330px;
        height: 85px;
        font-size: 20px;
    }

    .bonus__button-demo {
        max-width: 330px;
        height: 85px;
        font-size: 20px;
    }

    .investmob__list {
        display: grid;
        grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .investmob__item {
        max-width: 100%;
    }

    .investmob__bottom {
        margin-bottom: 157px;
    }

    .main__investmob {
        padding-bottom: 151px;
    }
}

@media(max-width: 1220px) {
    .header__nav {
        display: block;
        position: absolute;
        visibility: hidden;
        left: -20px;
        top: 89%;
        gap: 0px;
        border-radius: 15px;
        background: #858585;
        border: 2px solid #000000;
        width: 170px;
        height: 220px;
        z-index: 1;
        opacity: 0;
        transition: .6s;
        transform: translateX(-40%);
    }

    .header__nav--mob {
        visibility: visible;
        opacity: 1;
        transition: .6s;
        transform: translateX(0);
    }


    .header__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
        z-index: 40;
    }

    .header__overlay.header__overlay--visible {
        opacity: 1;
        visibility: visible;
    }

    .header__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        transition: .2s;
    }

    .burger-icon {
        display: block;
        order: -1;
        margin-right: 20px;
        flex-shrink: 0;
    }

    .burger-icon img {
        width: 100%;
    }

    .header__benefits {
        font-size: 15px;
    }

    .header__title {
        font-size: 40px;
    }

    .header__woodhand {
        max-width: 640px;
        max-height: 558px;
        right: -210px;
        bottom: -24px;
    }

    .header__top-button {
        max-width: 308px;
        height: 75px;
        font-size: 20px;
    }

    .header__button-account {
        max-width: 307px;
        height: 75px;
    }

    .header__top-button img {
        position: absolute;
        right: -21px;
        top: 12px;
        width: 69px;
        height: 64px;
    }

    .portfolio__list {
        margin-bottom: 80px;
    }

    .title__text {
        font-size: 63px;
        max-width: 765px;
    }

    .titile__subtitle {
        font-size: 23px;
        max-width: 643px;
    }

    .portfolio__item-img {
        max-width: 124px;
        height: 124px;
        padding: 0 5px;
    }

    .get__portfolio-button {
        height: 86px;
        font-size: 19px;
    }

    .get__portfolio-text {
        font-size: 21px;
        line-height: 158%;
        text-align: center;
    }

    .get__portfolio-button {
        height: 76px;
        max-width: 300px;
    }


    .portfolio__content {
        padding-bottom: 85px;
    }

    .portfolio__company {
        margin-bottom: 50px;
    }

    .instruments__content {
        padding: 40px 20px;
    }

    .instruments__content-list {
        column-gap: 20px;
    }


    .bonus__present-two {
        top: -4px;
        right: 17px;
        max-width: 220px;
    }

    .bonus__santa-vr {
        top: -70px;
    }

    .bonus__santa-vr-two {
        right: auto;
        left: -555px;
        top: -107px;
        max-width: 900px;
    }

    .bonus__title {
        font-size: 55px;
    }

    .bonus__text {
        font-size: 22px;
    }

    .main__bonus {
        padding-bottom: 105px;
    }


    .portfel__profit-arc>img {
        width: 100%;
    }

    .portfel__profit-arc {
        position: absolute;
        top: 70px;
        z-index: 1;
        width: 120%;
    }

    .portfel__arc-poloska {
        width: 24.5%;
        left: -3.5px;
        top: 47.4px;
    }

    .portfel__arc-poloska {
        left: -3.5px;
        top: 47.4px;
    }

    .portfel__arc-poloska img {
        width: 100%;
    }

    .portfel__arc-poloska img {
        width: 100%;
    }

    .partfel__profit-percent {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .partfel__profit-percent {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .partfel__profit-riskwrapper {
        margin-bottom: 25px;
        padding-top: 5px;
    }

    .porfel__left-content {
        margin-left: 90px;
    }

    .portfel__inner {
        gap: 100px;
    }

    .ask__link {
        font-weight: 400;
        font-size: 28px;
        line-height: 117%;
        margin-left: 15px;
        margin-right: auto;
    }

    .request__list {
        /* justify-content: center; */
        /* align-items: center; */
        flex-direction: column;
    }

    .request__list-line {
        left: auto;
        right: 0;
        top: 70px;
        transform: rotate(90deg);
    }

    .request__line-dashed {
        display: none;
    }

    .request__item:nth-child(3) {
        align-self: center;
    }

    .request__item:last-child {
        align-self: end;
    }

    .request__list {
        margin-bottom: 50px;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        background: linear-gradient(135deg, #2e2e2e, #4f4f4f);
        transform: translateX(-40%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .header__nav--mob {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .header__nav-list {
        gap: 15px;
    }

    .header__nav-link {
        display: inline-block;
        padding: 10px 15px;
        color: #fff;
        font-size: 16px;
        border-radius: 8px;
        transition: background 0.3s ease, transform 0.3s ease;
        text-decoration: none;
        position: relative;
        z-index: 2;
    }

    .header__nav-link:hover {
        background: rgba(255, 255, 255, 0.1);
        transform: translateX(5px);
    }

    .header__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        z-index: 10;
    }

    .header__overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .investmob__phone {
        width: 53%;
    }
}

@media(max-width: 1100px) {
    .benefits__list {
        display: grid;
        grid-template: repeat(4, auto)/ repeat(2, 1fr);
        gap: 9px;
    }

    .benefits__item {
        padding: 24px 13px 25px 18px;
        gap: 32px;
    }

    .benefits__item-details {
        position: absolute;
        right: 36px;
        bottom: auto;
        top: 20px;
        border-bottom: 1px solid #fff;
    }

    .benefits__item-details::after {
        content: '→';
        margin-left: 8px;
        position: absolute;
    }

    .portfel__inner {
        flex-wrap: wrap;
        gap: 160px;
    }

    .portfel__profit-arc {
        width: 100%;
        top: -70px;
    }

    .portfel__arc-poloska {
        left: -0.4%;
        top: 18.4%;
    }

    .porfel__left-content {
        margin-left: 0px;
    }

    .portfel__inner {
        padding-bottom: 120px;
    }

    .portfel__profit-arc {
        width: 100%;
        top: -70px;
    }

    .portfel__arc-poloska {
        left: -0.4%;
        top: 18.4%;
    }

    .portfel__left-content {
        margin-left: 0px;
    }

    .portfel__inner {
        padding-bottom: 120px;
    }

    .portfel__left-content {
        display: none;
    }

    .portfel__low-risk {
        display: none;
    }

    .portfel__profit-percent {
        display: none;
    }

    .portfel__profit {
        display: none;
    }

    .portfel__load {
        display: none;
    }


    .investmob__phone {
        display: none;
    }

    .investmob__bottom-block {
        margin-left: 190px;
    }
}

@media(max-width:1000px) {
    .header__raffle {
        display: grid;
        grid-template: .1fr 1fr / 1fr .1fr;
        justify-items: center;
        gap: 0px;
        margin-bottom: 20px;
    }

    .header__raffle::before {
        border-radius: 0px;
        inset: -15px -50px -15px -50px;
    }

    .header__raffle-icon {
        order: 3;
        align-self: end;
    }

    .header__raffle-time {
        order: 1;
        grid-column: 1 / -1;
        margin-left: 0px;
        justify-self: start;
        margin-bottom: 10px;
    }

    .header__raffle-time {
        font-size: 20px;
    }

    .header__raffle-time span {
        font-size: 18px;
        margin-left: -3px;
    }

    .header__raffle-text {
        order: 2;
    }

    .header__woodhand {
        max-width: 550px;
        max-height: 518px;
        bottom: -14px;
    }

    .header__top-button img {
        position: absolute;
        right: -15px;
        top: 11px;
        width: 59px;
        height: 54px;
    }

    .header__top-button {
        max-width: 258px;
        height: 65px;
        font-size: 18px;
    }

    .header__button-acc {
        max-width: 258px;
        height: 65px;
        font-size: 18px;
    }

    .header__raffle-text {
        font-size: 18px;
    }

    .header__raffle::before {
        inset: -7px -50px -7px -50px;
    }

    .guide__list {
        grid-template: auto auto auto / auto;
        grid-row-gap: 30px;

    }

    .guide__list>:first-child {
        grid-area: auto;
    }

    .guide__list>:nth-child(2) {
        grid-area: auto;
        justify-self: center;
        flex-shrink: 0;
    }

    .guide__list>:nth-child(3) {
        grid-area: auto;
        justify-self: end;
        width: 507px;
        height: 389px;
    }

    .bonus__bonus {
        max-width: 700px;
        top: -110px;
        right: -60px;
    }

    .bonus__cirlce {
        max-width: 273px;
        max-height: 273px;
    }

    .main__guide {
        padding-bottom: 212px;
    }

    .investmob__phone {
        display: none;
    }
}

@media (max-width:950px) {
    .portfolio__list {
        display: none;
    }

    .swiper {
        display: block !important;
    }

    .title__text {
        font-size: 53px;
    }

    .titile__subtitle {
        font-size: 21px;
    }

    .portfolio__black-side {
        display: block;
    }

    .portfolio__black-side-two {
        display: block;
    }

    .advantages__title {
        font-size: 7vw;
    }

    .ask__content-inner {
        flex-direction: column;
    }

    .ask__text {
        font-size: 22px;
        line-height: 159%;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .ask__inner {
        display: flex;
        flex-direction: column;
        max-width: 430px;
        width: 100%;
        align-self: center;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 870px) {
    .header__title {
        font-size: 37px;
    }

    .header__woodhand {
        max-width: 450px;
        max-height: 418px;
        bottom: 56px;
        right: -180px;
    }

    .header__top-button img {
        display: none;
    }

    .title__text {
        font-size: 44px;
    }

    .ask__link {
        font-size: 22px;
    }
}

@media (max-width: 800px) {
    .header__top-inner {
        gap: 5px;
    }

    .header__login-button {
        margin-right: 5px;
    }

    .logo {
        margin-right: 10px;
    }

    .header__language {
        display: none;
    }

    .header__open-acc {
        flex-shrink: 1;
        padding: 10px;
    }

    .header__woodhand {
        display: none;
    }

    .bonus__bonus {
        position: absolute;
        top: -90px;
        right: 0;

    }

    .portfel__right-button {
        max-width: 338px;
        height: 86px;
        font-size: 20px;
        line-height: 159%;
    }

    .investmob__bottom {
        margin-bottom: 57px;
    }

    .main__investmob {
        padding-bottom: 75px;
    }
}

@media (max-width: 700px) {
    .instruments__support {
        bottom: none;
        top: -71px;
        border-radius: 7px 7px 0px 7px;
    }

    .instruments__content-list {
        grid-template: 1fr 1fr 1fr / minmax(160px, 1fr) minmax(160px, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 5px;
    }

    .instruments__content {
        padding: 15px 0;
    }

    .instruments__title {
        font-size: 60px;
    }

    .guide__list {
        grid-template: auto auto auto / auto;
        grid-row-gap: 70px;

    }

    .guide__list>:first-child {
        grid-area: auto;
        justify-self: center;
    }

    .guide__list>:nth-child(2) {
        grid-area: auto;
        justify-self: center;
        flex-shrink: 0;
    }

    .guide__list>:nth-child(3) {
        grid-area: auto;
        justify-self: center;
        width: auto;
        height: auto;
    }

    .guide__list-img {
        position: absolute;
        right: -270px;
        top: -20px;
        width: 80px;
        height: 100px;
    }

    .guide__list-img-two {
        top: -50px;
        right: -270px;
    }

    .guide__list-img-three {
        top: -20px;
        right: -270px;
    }

    .guide__list-title {
        height: auto;
    }

    .maual__title-text {
        font-size: 50px;
    }

    .guide__title p {
        font-size: 20px;
    }

    .advantages__list {
        display: grid;
        grid-template: repeat(8, auto)/ repeat(1, auto);
        gap: 9px;
    }

    .portfel__info {
        grid-template: repeat(3, auto) / 1fr;
        gap: 30px;
    }

    .portfel__punktik:first-child {
        grid-area: auto;
        justify-self: auto;
    }

    .portfel__punktik:nth-child(2) {
        grid-area: auto;
        justify-self: auto;
    }

    .portfel__punktik:last-child {
        grid-area: auto;
    }

    .investmob__text {
        font-size: 19px;
    }

    .investmob__title {
        font-size: 57px;
    }

    .request__form {
        display: grid;
        grid-template: repeat(4, 1fr) / auto;
        gap: 20px;
    }

    .request__list {
        margin-bottom: 50px;
    }

    .request__form {
        display: grid;
        grid-template: repeat(4, 1fr) / auto;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .header {
        padding-bottom: 0px;
    }

    .header__open-acc {
        /* order: -1; */
        padding: 10px;
        font-size: 11px;
        color: #000;
        height: 41px;
    }

    .header__buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__login-button {
        /* flex-shrink: 1; */
        font-size: 12px;
        height: 30px;

    }

    .logo {
        width: 100px;
        height: 100%;
        margin-right: 0;
        flex-shrink: 0;
    }

    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        display: block;
        width: 100%;
    }

    .header__raffle-title {
        font-size: 17px;
    }

    .header__raffle-subtitle {
        font-size: 13px;
    }

    .header__woodhand--mob {
        max-width: 550px;
        height: 518px;
        width: 100%;
        margin-top: -70px;
    }

    .header__woodhand {
        display: none;
    }

    .header__investers {
        max-width: 336px;
        font-size: 15px;
        line-height: 110%;
    }

    .header__buttons-two {
        margin-bottom: 15px;
    }

    .header__top-button {
        font-size: 16px;
    }

    .get__portfolio-text span {
        display: inline-block;
    }

    .instruments__list-title {
        font-weight: 500;
        font-size: 18px;

    }

    .instruments__title {
        font-size: 50px;
    }

    .bonus__present {
        display: none;
    }

    .bonus__title {
        font-size: 10vw;
    }

    .bonus__text {
        font-size: 4vw;
    }

    .bonus__bonus {
        top: -80px;
    }

    .bonus__cirlce {
        max-width: 233px;
        max-height: 233px;
    }

    .bonus__button {
        font-size: 18px;
    }

    .bonus__button-demo {
        font-size: 18px;
    }

    .advantages__title {
        font-size: 37px;
    }


    .portfel__left-content {
        display: none;
    }

    .portfel__low-risk {
        display: none;
    }

    .portfel__profit-percent {
        display: none;
    }

    .portfel__profit {
        display: none;
    }

    .portfel__load {
        display: none;
    }

    .portfel__right-title {
        font-size: 49px;
    }

    .portfel__right-text {
        font-size: 19px;
    }

    .portfel__right-title {
        font-size: 10vw;
    }

    .portfel__right-text {
        font-size: 16px;
    }

    .portfel__count {
        font-size: 13vw;
    }

    .portfel__punktik p {
        font-size: 6vw;
    }

    .investmob__list {
        grid-template: repeat(4, 1fr) / 1fr;
    }

    .request__title {
        font-size: 55px;
    }

    .main__ask {
        padding-bottom: 58px;
    }

    .request__input-name {
        height: 86px;
    }

    .investmob__bottom-block {
        margin-left: 90px;
    }

}