:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    background: var(--accent-color);
    line-height: 160%;
    border-radius: 100px;
    padding: 18px;
    width: 358px;
    display: block;
    text-align: center;
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

/* ========================================================= */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}


.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    background: var(--accent-color);
    width: 34px;
    height: 34px;
    transition: all .4s;
    opacity: 0;
    z-index: -1;
}

.nav__link:hover:before {
    opacity: 1;
}

.burger__icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.burger__icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    position: relative;
    transition: all .4s;
    z-index: 11;
}

.burger__icon span::before,
.burger__icon span::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    position: absolute;
    transition: all .4s;
}

.burger__icon span::before {
    top: -8px;
}

.burger__icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger__icon span {
    background: transparent;
}

.body--opened-menu .burger__icon span::before {
    transform: rotate(45deg);
    top: 0;
}

.body--opened-menu .burger__icon span::after {
    transform: rotate(-45deg);
    bottom: 0;
}


/* ========================================================= */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    text-transform: uppercase;
    line-height: 1.6;
    color: #B197B2;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: "";
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #B197B2;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    color: #312C27;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}


.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}


.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    position: relative;
    
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: "";
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    inset: 5px;
    opacity: 0;
    transition: all .4s;
    position: absolute;
}

.hero__img-button:hover::before {
    opacity: 1;
}



@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }
}


@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0px;
        padding: 26vh 15px 30px;
        z-index: 10;
        background: var(--general-bg);
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        font-size: 24px;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger__icon {
        display: flex;
    }
}

@media (max-width: 800px) {

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin-bottom: 30px;
    }

}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }
    .hero__title {
        font-size: 12vw;
    }
}